@{
    ViewBag.Title = "Home Page";
}

 
<div class="row">
    <div class="col-md-4">
        <h2>Sales</h2>
        <p>
           @Html.ActionLink("Sales", "Index", "SaleHeaders")
        </p>
    </div>
  
</div>